@tailwind base;
@tailwind components;
@tailwind utilities;

 
body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(168, 85, 247, 0.4);
  border-radius: 10px;
}